*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
	font-family: heveltica, comic-sans;
	font-size:16px;
	background-color:#D8D8D8;
	min-width:420px;
	max-width:920px;
}

h1 {
	color:#F00000;
}

p {
	color:#080808;
}

.six columns {
	float:right;
}