#body
{
background-color:#303030;
}
#h1
{
vertical-align:middle;
font-size:50px;
font-family:"helvetica";
text-align:center;
letter-spacing:-2px;
color:#ffffff;
}
.a
{
 font-size:50px;
 letter-spacing:-2px;
}
.b
{  
font-size:200px;    
color:red;
}
.c
{
    color:red;
}
#h3 
{
vertical-align:middle;
font-size:50px;
font-family:"helvetica";
text-align:center;
letter-spacing:-2px;
color:#ffffff;
}
.z
{
font-size:100px;
    }
.n
{
font-size:100px;
color:red;
}