body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    width: 920px;
    background-color:#D8D8D8;
}

#first {
    position:relative;
    left: 18px;
    color:red;
}

#second {
	color:red;
}

#third {
    color:red;
}

#one {
    position:relative;
    left:40px;
    color:#080808;
}

p {
    color:#080808;
}

#music{

    width: 400px;
    float: left;
}

#location{
width: 400px;
float: right;

}

#mylife-container{
    width: 920px;
    float: left;
}