
body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    min-width: 420px;
    max-width: 920px;
}

h1 {
    position: relative;
    left: 140px;
}

#month {
    position: relative;
    left:48px;
}

#day {
    position: relative;
    left:100px;
}

p {
    position: relative;
    left:130px;
}