
body {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    width: 920px;
    background-color:red;
}

#first {
    position:relative;
    left: 7px;
    color:red;
}

#second {
	color:red;
}

#one {
    position:relative;
    margin-left:40px;
    color:#080808;
}


#music{

	width: 400px;
	float: left;
}

#videos {
    width:400px;
    float:left;
}

#location{
width: 400px;

}