<html>
<head>
<meta charset="UTF-8">
<title> My Life </title>
<link rel="stylesheet" type="css/text" href="/static/lifecss.css">
</head>

<body>
<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      235949436543900      : 'YOUR_APP_ID', // App ID
      http://murmuring-woodland-1938.herokuapp.com/.html : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
	<header>
    <h1> Life </h1>
    </header>
    <h3 id="year"> 2013 </h3>
    <h3 id="month"> March </h3>
    <h3 id="day"> 30 </h3>
    <p> Filler Text 1 </p>
    <p> Filler Text 2 </p>
    
    <h3 id="day"> 29 </h3>
    <p> Filler Text 1 </p>
    <p> Filler Text 2 </p>

</body>


</html>