<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> My Life </title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='foundation.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lifecss.css')}}">
-
</head>

<body>
  <div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '235949436543900', // App ID
      channelUrl : 'murmuring-woodland-1938.herokuapp.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
    // connected
    } else if (response.status === 'not_authorized') {
    // not_authorized
    login();
    } else {
    // not_logged_in
    login();
    }
   });
    // Additional init code here

  };
function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
      testAPI();
        } else {
            // cancelled
        }
    });
}
function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });
}
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<div id="mylife-container">
    <div id="music" class="three_columns">
        <h1 id="first">Songs</h1>
        {% for song in data[0] %}
            <p id="one">{{ song.data.song.title }}</p>
        {% endfor %}
    </div>
    <div id="location" class="six_columns">
        <h1 id="second">Foursquare</h1>
        {% for info in data[1] %}
            <p><strong>{{ info["name"] }}</strong></p>
            <p>{{ info["location"]["address"] }}</p>
            <p>{{ info["location"]["postalCode"] }}</p>
            <p>{{ info["location"]["city"] }}</p>
            <p>{{ info["location"]["state"] }}</p>
        {% endfor %}
    </div>
    <div id="videos" class="third_columns">
      <h1 id="third">Videos</h1>
        {{ data[2] }}
      </div>
</div>
</body>
</html>